/* ----------------- базові стилі ---------------------- */

:root {
    --typical-lh: 1.19;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}

.item {
    text-decoration: none;
}

/* ------------------- стилі шапки ---------------------------- */
.headers{
    background: linear-gradient(0deg, rgba(186,195,34,0.8519782913165266) 0%, rgba(58,161,242,0.8295693277310925) 100%);
}

.headers .container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.logo__a {
    
}

.logo__ukr {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: var(--typical-lh);
    letter-spacing: 0.03em;
    color: #1f2830;
}

.logo__b {
}

.logo__shop {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: var(--typical-lh);
    letter-spacing: 0.03em;
    color: #1f2830;
}

.nav {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center;
}

.sub__nav {
}

.nav__link {
}

.sub__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
}

.contact {
    
}

.avtorize {
}

.registration {
}

/* ================ carusel =========================*/

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-slide {
    width: 100%;
    height: 485px;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    height: auto;
  }